annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.1
black==26.5.1
click==8.4.2
colorama==0.4.6
fastapi==0.139.0
greenlet==3.5.3
h11==0.16.0
httptools==0.8.0
idna==3.18
iniconfig==2.3.0
isort==8.0.1
kafka-python==3.0.7
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
psycopg2-binary==2.9.12
pydantic==2.11.7
pydantic-settings==2.14.2
pydantic_core==2.33.2
Pygments==2.20.0
pytest==9.1.1
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
redis==8.0.1
SQLAlchemy==2.0.51
starlette==0.47.3
typing-inspection==0.4.2
typing_extensions==4.16.0
uvicorn==0.50.2
watchfiles==1.2.0
websockets==16.0
